
header{
display: inline-block;
width: 100%;
font-family: 'Raleway', sans-serif;
/* margin-bottom: 50px; */
}
    header > img{
        display: inline-block;
        float: left; 
        height: 40px;
        object-fit: contain;
        object-position: center;
        margin-top: 30px;
        margin-left: 3%;
    }

    span{
        display: inline-block;
        float: left; 
        margin-left: 8px;
        margin-top: 15px;
        font-size: 40px;
        font-weight: 900;
    }

    nav{
        display: inline-block;
        float: right;
        margin-right: 3%;
    }
    .link{
        display: inline-block;
        text-decoration: none;
        color: black;
        margin-left: 34px;
        margin-top: 40px;
      
        }


.section{
display: inline-block;
width: 100%;
position: relative;
left: 0px;
top:0px;
padding-top: 50px;
padding-bottom: 50px;


}
    .first-row{
    display: inline-block;
    /* width: 100%; */
    width: 50%;
    float: left;
    margin: 3%;
    position: relative;

    }
        h1{
        font-size: 30px;
        }
        p{
        font-size: 12px;
        margin-top: 20px;
        /* width: 80%; */
        }
        form{
        margin-top: 20px;
        }
            input{
                margin-top: 10px;
            width: 30%;
            border: 1px solid grey;
            border-radius: 4px;
            padding: 5px;
            }
            button{
                margin-top: 10px;
            width: 37%;
            background-color: blue;
            color: white;
            padding: 5px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 4px;
            border: 1px solid blue;
            }

    .second-row{
    display: inline-block;
     width: 40%;    
    float: right;
    position: absolute;
    top:50%;
    left: 50%;

    
    }
        .second-row > img{
            display: inline-block;
            width: 80%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top:50%;
            left:55%;
       
           transform: translate(-50%, -50%);
        }




.bar{
    display: inline-block;
    width: 90%;
    height: 5px;
    /* background-color: lawngreen; */
    margin-left: 5%;

}


.progress-bar{
    height: 100%;
    background-color: #F9F8FE;
    animation-name: bariukas;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /* animation-direction: reverse; */
}
   
@keyframes bariukas{
    0%{ width: 0%;}
    50%{ width:100%;}
    100%{width: 0%;
    /* opacity: 0; */
    }
}
    
.second-section{
    display: inline-block;
    background-color: hsl(240, 75%, 98%);
    padding-bottom: 50px;
}

.second-image{
    
    width: 100%;
    }

    .bendras{
        /* background-color: hotpink; */
    }
    .bendras{
        display: inline-block;
        width: 100%;
        /* height: 20px; */
        /* background-color: lawngreen; */
        position: relative;
        padding-top: 30px;
        /* margin-left: 5%; */
    }
    .cubic-animation{
        width: 20px;
        height: 20px;
        /* background-color: lightcoral; */
        border-radius: 50%;
        border: 1px solid grey;
         position: absolute;
        left: 0%;
        top: 50%;
        animation-name: kubikas;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.57, 0.04, 0.32, 0.99);
    }
    @keyframes kubikas{
        0%{left: 0%; top: 50%;
             box-shadow:-8px 4px #F9F8FE;}
        25%{left: 50%; top:5%;
                box-shadow:-1px 1px #F9F8FE;}     
        49.99%{left: 96%; top: 50%;
             box-shadow:-1px 1px #F9F8FE;}
        50%{left: 96%; top:50%;   box-shadow:8px 4px #F9F8FE;}
        75%{left: 50%; top:5%;   box-shadow:8px 4px #F9F8FE;}
        100%{left: 0%; box-shadow:1px 1px #F9F8FE; 
        }
    }
    .second-first-column{
        display: inline-block;
        width: 54%;
        float: left;
        margin-left: 3%;
        margin-right: 3%;
        }

        .full{
            display: inline-block;
            width: 100%;
        }
            .textimg{
                display: inline-block;
                border-bottom: 1px solid hsl(170, 45%, 43%);
                float: left;
                
            }
            .text{
                color:hsl(170, 45%, 43%);
                text-decoration: none;
            }
             h2 {
                font-size: 30px;
            }        

            .second-section > .second-first-column > p{
                width: 85%;
                font-size: 14px;
            }

       
        .feedback{
            display: inline-block;
            background-color: white;
            width: 300px;
            margin-left: 30px;
            margin-top: 30px;
            float: left;

        }
            .img-kabutes{
                display: inline-block;
                margin: 0;


            }
            .tarpkabuciu{
                display: inline-block;
                width: 83%;
                margin: 0px;

            }
            .face-frame{
                height: 35px;
                width: 100%;
                margin-top: 10px;
            

            }
            .face{
            height: 35px;   
            object-fit: cover;             
            object-position: center;
            float: left;
            margin-right: 10px;
            border-radius: 45px;
            background-color: white;
            
            }
            .name{
                display: inline-block;
                width: 50%;
                font-size: 12px;
                font-weight: 900;
                margin-top: 2px;
            }
            .position{
                display: inline-block;
                width: 50%;
                font-size: 8px;
                margin-bottom: 2px;
            }


    .second-second-column{
        /* display: inline-block; */
        width: 35%;
        object-fit: contain;             
        object-position: center;
        }


.three-section{
    display: inline-block; 
    width: 100%;
    background-color:#575989; 
    padding-bottom: 30px;    
        }
        .three-first-column{
            display: inline-block; 
            width: 50%;
            margin-left: 35px;
            margin-top: 50px;
        
        }
        .three-first-column > h3{
            font-size: 20px;
            color: white;
            
        }
        .three-first-column > p{
            display: block;
            width: 80%;
            margin-top: 10px;
            color: white;
        }

        .three-second-column{
            display: inline-block; 
           width: 39%;
           

        }
        .three-text{
            width: 70%;
            margin-left: 60px ;
            margin-right: 50px ;
            margin-bottom: 10px ;
            
        }
        .three-second-column > input{
            margin-top: 50px ;
            display: inline-block; 

        }
        .three-second-column > button{
            display: inline-block; 
            width: 30%;
            font-size: 10px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

footer{
display: inline-block;
width: 100%;
/* background-color: lightskyblue; */
background-color: #07043B;
}
    .fylo{
        display: inline-block;
        width: 22%;
        margin-top: 35px;
        margin-left: 35px;
    }

            .fylo > img{
            display: inline-block;
            float: left;
            color: white;
            }
            .fylo > span{
            width: 90%;
            font-size: 12px;
            color: white;
            }

    .link-one{
        display: inline-block;
        width: 22%;
        margin-top: 98px;
  
    }
        .link-one > a {
            display: block;
            width: 55%;
            text-decoration: none;
            color: white;
            font-size: 12px;
            margin-bottom: 10px;
            float: right;
        }

  
    .social-logo{
    display: inline-block;
    /* float: left; */
    width: 22%;
    /* margin-left: 66px; */
    /* background-color: lightseagreen; */
      }

      .social-logo > a {
        display: block;
        float:right;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border: 1px solid white;
        border-radius: 13px;
        margin-right: 7px;
        
      }

      .social-logo > a:hover {
        background-color: white;
        color: #07043B;

      }

      @media(max-width: 1000px){
        .second-row > img{
        display: inline-block;
        width: 100%;
        }
        .first-row{
        width: 46%;
        }
      
      .input{
        width: 60%;
        }
        .button{
        width: 60%;
        }
     }

@media(max-width: 658px){
    section{
    position: static;
    }

    .first-row{
    float: left;
    width: 70%;
    position: static;
    margin: 0%;
    margin-left: 15%;
    margin-top: 10px;
    text-align: center;
    }

        h1{
        font-size: 17px;
        }
        p{
        font-size: 11px;
        }
        form{
        margin-top: 20px;
        }
        .input{
        width: 100%;
        }
        .button{
        width: 100%;
        }

    .second-row{
    float: right;
    width:100%;
    position: static;
    text-align: center;
    }
        .second-row > img{
        width: 70%;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0%,0%);
        /* margin-left: 15%; */
        }
        .three-text {
        margin-right: 50px;
        }
        .three-second-column {
        width: 35%;
        }



.second-section{
    display: inline-block;
    width: 100%;
    text-align: center;
    
    }
    .second-first-column{
        width: 86%;
        margin-left: 7%;
        /* margin-right: 7%; */
    }
    
    h2 {
        margin-top: 50px;
        width: 93%;
    }  

        .second-section > .second-first-column > p{
            text-align: justify;
            width: 100%;
        }
    .textimg{
        float: none;
        margin-top: 30px;
    }
        .feedback{
            width: 88%;
            text-align: justify;
        }
        .img-kabutes{
            margin-left: 10%;
        }
        .tarpkabuciu{
            margin-left: 10%;
        }

    
.second-second-column{
    width: 70%;
    }

.three-first-column{
    width: 85%;
    text-align: center;
    margin: 0;
    margin-left: 7%;
}

    .three-first-column > h3{
        width: 100%;
        margin-top: 30px;  
        margin-bottom: 20px;      
        }

    .three-first-column > p{
    width: 100%;
    margin: 0;
    /* margin-top: 30px; */
    
    }

    .three-second-column{
    display: inline-block; 
    width: 70%;
    }
        .three-second-column > input{
        width: 100%;
        margin-bottom: 10px;
        }
        .three-second-column > button{
        width: 100%;
        }
        .three-text {
        margin: 0px;
        margin-left: 20%;
        
        }
        .social-logo{
        width: 60%;
        margin-top: 20px;
        }
    }

      
@media(max-width:440px){
    header > img{
    height: 30px;
    }
    span{
    font-size: 30px;
    }
    .link{
    margin-left: 14px;
    margin-top: 28px;
    }
    section{
        position: static;
    }

    .fylo{
        width: 78%;
     }
        .fylo > img{
        margin-left: 10%;
    }
    .fylo > span{
        width: 90%;
        margin-left: 10%;
    }
    
    .link-one{
        width: 80%;
        margin-top: 20px;
        margin-left: 18%;
    }
    
        .link-one > a{
            width: 100%;
        }
        
    .social-logo{
        width: 60%;
        margin-top: 20px;
        margin-left: 40%;
    }
    .social-logo > a {
        width: 25px;
        float:left;
        } 


}

