header{
display: inline-block;
width: 100%;
background-color: #FFF;
font-family: 'Raleway', sans-serif;
}
    img{
        display: inline-block;
        float: left; 
        height: 40px;
        object-fit: contain;
        object-position: center;
        margin-top: 30px;
        margin-left: 34px;
    }

    span{
        display: inline-block;
        float: left; 
        margin-left: 8px;
        margin-top: 15px;
        font-size: 40px;
        font-weight: 900;
    }

    nav{
        display: inline-block;
        float: right;
    }
    .link{
        display: inline-block;
        text-decoration: none;
        color: black;
        margin-right: 34px;
        margin-top: 40px;
        margin-bottom: 200px;
        }


main{
display: inline-block;
width: 100%;
background-color:burlywood;
}
    .first-row{
    display: inline-block;
    width: 100%;
    background-color: lightcoral;
    }
    .second-row{
    display: inline-block;
    width: 100%;
    background-color: lightgreen;

    }

footer{
display: inline-block;
width: 100%;
background-color: lightskyblue;
}
    .text-forma{
    display: inline-block;
    width: 100%;
    background-color: lime;
    }

    .linksocial{
    display: inline-block;
    width: 100%;
    background-color: lightseagreen;
    }
